@using Kendo.Mvc.UI
@using User = AllMark.Core.Models.User
@model User

<div class="row">
    @Html.LabelFor(i => i.Name, new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @Html.Kendo().TextBox().Name("tbName").Value(Model.Name)
    </div>
    @Html.LabelFor(i => i.Email, new { @class = "col-sm-3" })
    <div class="col-sm-9">
        @(Html.Kendo().TextBoxFor(i => i.Email)
            .Enable(false)
            )
    </div>
</div>
@(Html.Kendo().Button()
    .Name("btSave")
    .Content("Сохранить")
    .Events(e => e.Click("btSave_onClick")))

<script>
    var name;

    $(document).ready(() => {
        name = $("#tbName").getKendoTextBox();
    });

    function btSave_onClick() {
        var data = collectFields();
        $.ajax({
          url: "@Url.Action("Update", "User")",
          data: data
        }).done((response) => {
            alert("1");
        });
    }

    function collectFields() {
        return {
            Name: name.val()
        };
    }
</script>