@using Kendo.Mvc.UI
@using Utils.Kendo.Extensions
@using AllMark.DTO
@model CustomerDto

@Html.HiddenFor(i => i.Id)

<div class="container-fluid">
    <div class="row allmark-div" style="margin-top: 40px;">
        @Html.LabelFor(i => i.Name, new { @class = "col-sm-3  allmark-div" })
        <div class="col-sm-9  allmark-div">
            @(Html.Kendo()
                .TextBoxFor(i => i.Name)
                .Value(Model.Name)
                .FullWidth()
            )
        </div>
        @Html.LabelFor(i => i.EmailConfirmed, new { @class = "col-sm-3  allmark-div" })
        <div class="col-sm-9  allmark-div">
            @(Html.Kendo()
                .CheckBoxFor(i => i.EmailConfirmed)
                .Checked(Model.EmailConfirmed)
                .Enable(false)
                .Label(string.Empty)
                .FullWidth()
            )
        </div>
        @Html.LabelFor(i => i.Email, new { @class = "col-sm-3  allmark-div" })
        <div class="col-sm-9  allmark-div">
            @(Html.Kendo().TextBoxFor(i => i.Email)
                .Enable(false)
                .FullWidth()
            )
        </div>
        @Html.LabelFor(i => i.NationalCatalogKey, new { @class = "col-sm-3  allmark-div" })
        <div class="col-sm-9  allmark-div">
            @(Html.Kendo().TextBoxFor(i => i.NationalCatalogKey)
                .FullWidth()
            )
        </div>
    </div>
</div>
@(Html.Kendo().Button()
    .Name("btSave")
    .Content("Сохранить")
    .Events(e => e.Click("btSave_onClick")))

<script>
    function btSave_onClick() {
        var data = collectFields();
        $.ajax({
          url: "@Url.Action("Update", "Account")",
            data: data
        }).done((response) => {
            if (response)
                swal("Успех", "Данные успешно сохранены", "success");
            else
                swal("Ошибка при сохранении", "Не удалось произвести сохранение", "error");
        });
    }

    function collectFields() {
        return {
            Id: $("#Id").val(),
            Name: $("#@nameof(CustomerDto.Name)").val(),
            Email: $("#@nameof(CustomerDto.Email)").val(),
            NationalCatalogKey: $("#@nameof(CustomerDto.NationalCatalogKey)").val()
        };
    }
</script>