@using Utils.Kendo.Extensions
@using AllMark.DTO
@model int
@{
    ViewData["Title"] = "Сброс пароля";
}

<h1>@ViewData["Title"]</h1>
<p>Введите новый пароль</p>
<div class="pb-3">
    <div class="col-sm-3">Пароль</div>
    <div class="col-sm-9">
        @(Html.Kendo()
            .TextBox()
            .Name("tbPassword")
            .HtmlAttributes(new { type = "password" })
            .FullWidth()
        )
    </div>
    <div class="col-sm-3">Подтверждение пароля</div>
    <div class="col-sm-9">
        @(Html.Kendo()
            .TextBox()
            .Name("tbPasswordConfirm")
            .HtmlAttributes(new { type = "password" })
            .FullWidth()
        )
    </div>
</div>
@(Html.Kendo()
    .Button()
    .Name("tbResetPassword")
    .Content("Сохранить")
    .Events(e => e.Click("tbResetPassword_onClick"))
    )
<script>
    function tbResetPassword_onClick() {
        var password = $("#tbPassword").val();
        var passwordConfirm = $("#tbPasswordConfirm").val();
        if (password !== passwordConfirm) {
            swal("Ошибка!", "Пароли не совпадают", "error");
            return;
        }
        var data = {
            '@nameof(CustomerDto.Id)': @Model,
            '@nameof(CustomerDto.Password)': password
        };
        $.ajax({
            url: '@Url.Action("UpdatePassword", "Account")',
            data: data,
            method: "POST",
            success: window.location.href = '@Url.Action("PasswordResetSuccess", "Account")'
        });
    }
</script>

