@using Kendo.Mvc.UI
@using Utils.Kendo.Extensions
@using Utils.NationalCatalog.Models

    <div class="col-sm-12 allmark-div">
        @(Html.Kendo()
            .TabStrip()
            .Name("tabStrip")
            //.Animation(animation =>
            //    animation.Open(effect =>
            //        effect.Fade(FadeDirection.In)))
            .Items(items =>
            {
            items.Add()
                .Text("Обязательные поля")
                .Selected(true)
                .Content(
                            @<text>
                                <label class="col-sm-10 allmark-div">Наименование товара</label>
                                <div class="col-sm-10 allmark-div">
                                    @( Html.Kendo()
                                      .TextBox()
                                      .Name("wndProduct_tbGoodName")
                                      .FullWidth()
                                    )
                                </div>

                                <label class="col-sm-10 allmark-div">Штрихкод/GTIN</label>
                                <div class="col-sm-10 allmark-div">
                                    @( Html.Kendo()
                                      .IntegerTextBox()
                                      .Name("wndProduct_tbGTIN")
                                      .FullWidth()
                                    )
                                </div>

                                <label class="col-sm-10 allmark-div">Бренд</label>
                                <div class="col-sm-10 allmark-div">
                                    @( Html.Kendo()
                                      .ComboBox()
                                      .Name("wndProduct_cbBrand")
                                      .Placeholder("Выбрать бренд")
                                      .DataSource(i => i.Read(k => k.Action("GetBrands", "Product")))
                                      .DataTextField(nameof(CatalogBrand.Name))
                                      .DataValueField(nameof(CatalogBrand.Id))
                                      .AutoWidth(true)
                                    )
                                </div>

                                <label class="col-sm-10 allmark-div">ТН ВЭД</label>
                                <div class="col-sm-10 allmark-div">
                                    @( Html.Kendo()
                                      .IntegerTextBox()
                                      .Name("wndProduct_tbTnved")
                                      .FullWidth()
                                    )
                                </div>

                                <label class="col-sm-10 allmark-div">Категория</label>
                                <div class="col-sm-10 allmark-div">
                                    @( Html.Kendo()
                                      .DropDownTree()
                                      .Name("ddtChangeCategory")
                                      .Placeholder("Выбрать категорию")
                                      .DataSource(i => i.Read(k => k.Action("GetCategories", "Product")))
                                      .DataTextField(nameof(CatalogCategory.Name))
                                      .DataValueField(nameof(CatalogCategory.Id))
                                      .AutoWidth(true)
                                    )
                                </div>

                                <label class="col-sm-10 allmark-div">Атрибуты</label>
                                <div class="col-sm-10 allmark-div">
                                    @(Html.Kendo()
                                        .Button()
                                        .Name("btAttributes")
                                        .Content("Добаление атрибутов")
                                        .Events(e => e.Click("btAttributes_onClick"))
                                        )
                                </div>
                            </text>);
        })
        )
        </div>

    <label class="col-sm-12 text-center allmark-div" style="font-weight: bold">Сохранить и ...</label>
<div class="col-sm-12 text-center allmark-div">
    @(Html.Kendo()
        .Button()
        .Name("wndProduct_btSaveAndCreateMore")
        .Content("Создать еще")
        .Events(e => e.Click("wndProduct_btSaveAndCreateMore_onClick"))
        )
    @(Html.Kendo()
        .Button()
        .Name("wndProduct_btSaveAndQuit")
        .Content("Выйти")
        .Events(e => e.Click("wndProduct_btSaveAndQuit_onClick"))
        )
</div>

@(Html.Kendo()
    .Window()
    .Name("wndAttributes")
    .HtmlAttributes(new { style="padding:0;"})
    .Scrollable(true)
    .Visible(false)
    .Title("Атрибуты товара")
    .Resizable(r => r.Enabled(false))
    //.Animation(true)
    .Width(1200)
    .Actions(a => a.Close())
    .Draggable()
    //.Animation(animation =>
    //    animation.Open(effect =>
    //        effect.Fade(FadeDirection.In)))
    .LoadContentFrom(Url.Action("GetAttributes", "Product", new { categoryId = 30141}))
    )

<script>
        function wndProduct_btSaveAndCreateMore_onClick() {
            const wndProduct = $('#wndProduct').getKendoWindow();
            if (wndProduct)
                wndProduct.close();
        }

        function wndProduct_btSaveAndQuit_onClick() {
            const wndProduct = $('#wndProduct').getKendoWindow();
            if (wndProduct)
                wndProduct.close();
        }

        function wndProduct_btSaveAndQuit_onClick() {
            const wndProduct = $('#wndProduct').getKendoWindow();
            if (wndProduct)
                wndProduct.close();
        }

        function btAttributes_onClick() {
            wndAttributes_open();
    }

        function wndAttributes_open() {
            $('#wndAttributes').getKendoWindow().center().open();
        }
    </script>
